@import '../../../variables.scss';

.navigation-wrapper {
  display: flex;
  height: 100%;
}

.nav-container {
  display: flex;
}

.primary-navigation {
  z-index: $body-index - 2;
  .active {
    background: $brand-yellow;
    a {
      color: $brand-dark !important;
    }
  }
}


.secondary-navigation {
  position: absolute;
  transition: transform .3s ease-in-out;
  z-index: $body-index - 1;
  background: lighten($brand-dark, 20%);
  transform: translate3d(-201px, 0, 0);
  .active {
    background: $brand-yellow;
    a {
      color: $brand-dark !important;
    }
  }
  &.open {
    transform: translate3d(0px, 0, 0);
  }
}

.navigation-container {
  height: 100%;
  min-height: 100%;
  width: $navigation-width;
  position: absolute;
  left: 0;
  perspective: 10000px;
  transition: transform .3s;
  transform: translate3d(100%, 0, 0);
  &.open {
    transform: translate3d(0, 0, 0);
  }

  .project-sidebar {
    height: 100%;
    width: 100%;
    position: absolute;
    background: $brand-dark;
    color: $brand-yellow;
    .item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $brand-yellow;
      height: 70px;
      padding: 0 20px;
      cursor: pointer;
      &--label {
        font-size: 2em;
      }
      &:hover {
        background: $brand-yellow;
        color: $brand-dark;
        .avatar-container .avatar {
          background: $brand-dark;
        }
      }
    }
    .project-sidebar-header {
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      height: auto;
      .avatar-container {
        display: flex;
        .avatar {
          background: $brand-yellow;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          margin: 0 5px;
        }
      }
    }
    .models {
      border-top: 1px solid $brand-yellow;
      height: 70px;
      .badge {
        margin-left: auto;
      }
    }
    .transformations {
      height: 70px;
    }
  }
}

.navigation {
  height: 100%;
  &--primary {
    height: 100%;
  }
  display: flex;
  flex-direction: column;
  header {
    height: 45px;
    width: 100%;
    .logo-container {
      height: $navigation-icon-size;
      width: $navigation-icon-size;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        height: 26.5px;
        width: 26.5px;
        border-radius: 50%;
        background: $brand-yellow;
        margin-right: 5px;
        img {
          margin-left: 2px;
          width: 36.5px;
        }
      }
    }
  }
  .nav-list {
    padding: 0;
    color: $brand-yellow;
    list-style: none;
    font-size: 1.4em;
    letter-spacing: 0.2em;
    font-weight: 800;
    height: 100%;
    margin-bottom: 0;
    transition: background 0.3s linear;
    &.open {
      background: lighten($brand-dark, 20%);
    }
    li {
      padding: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      i {
        height: $navigation-icon-size;
        flex-basis: $navigation-icon-size;
        line-height: $navigation-icon-size;
        text-align: center;
      }
      a {
        flex-basis: 90%;
        text-decoration: none;
        color: $brand-yellow;
      }
    }
  }
}