@import '../../variables.scss';


.dropdown {
  button {
    border-radius: 3px;
    border: 1px solid $brand-dark-2;
    background-color: lighten($brand-dark-3, 20%);
    width: 100%;
    cursor: pointer;
  }
}
.dropdown-container {
  position: absolute;
  z-index: 1070;
  .dropdown-menu {
    width: 100%;
    display: flex;
    top: -1px;
    flex-direction: column;
    position: relative;
    opacity: 0;
  }
  &.open {
    .dropdown-menu {
      opacity: 1;
    }
  }
}
