@import '../../variables.scss';

.import-new-project {
  .step-1 {
    display: flex;
    .select-cluster {
      margin-right: $medium;
      flex: 1;
    }
    .connect-cluster {
      margin-left: $medium;
      flex: 1;
      form > input + input {
        margin: $xsmall;
      }
    }
  }
  .name-project {
    margin-bottom: $medium;
  }
  .import-models {
    font-family: $font-text;
    max-height: $base-grid-unit * 6;
    overflow: auto;
    .row {
      flex: 0 0 auto;
    }
  }
  .model-fetch-progress {
    margin-top: 4px;
  }
  .cluster-info {
    display: flex;
    flex-direction: row;
  }
  .cluster-details {
    margin-left: 5px;
  }
  .cluster-image {
    max-width: 60px;
    max-height: 60px;
  }
  .select-new-cluster {
    border-bottom: 1px dotted #000;
  }
}
