@import '../../variables.scss';

.import-new-project {
  .step-1 {
    display: flex;
    .select-cluster {
      margin-right: $medium;
      flex: 1;
    }
    .connect-cluster {
      margin-left: $medium;
      flex: 1;
      form {
        margin-top: 10px;
      }
      input {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-right: 15px;
      }
      .button-primary {
        margin-left: 0px;
        top: 5px;
      }
    }
  }
  .name-project {
    margin-bottom: $medium;
  }
  .import-models {
    font-family: $font-text;
    max-height: $base-grid-unit * 6;
    overflow: auto;
    .row {
      flex: 0 0 auto;
    }
  }
  .model-fetch-progress {
    margin-top: 0.18em;
  }
  .cluster-info {
    display: flex;
    flex-direction: row;
  }
  .cluster-details {
    margin-left: 0.2em;
  }
  .cluster-image {
    color: #f5a623;
    font-size: 4em;
    margin-top: 0.1em;
    margin-right: 0.1em;
  }
  .select-new-cluster {
    border-bottom: 0.1em dotted #000;
  }
}
