@import '../../variables.scss';

.import-new-project {
  .step-1 {
    display: flex;
    .select-cluster {
      margin-right: $medium;
      flex: 1;
    }
    .connect-cluster {
      margin-left: $medium;
      flex: 1;
    }
  }
  .name-project {
    margin-bottom: $medium;
  }
  .select-dataset {
    display: flex;
    > div {
      margin: 0 $small;
    }
  }
}
