@import '../../variables.scss';

.import-new-project {
  .step-1 {
    display: flex;
    .select-cluster {
      margin-right: $medium;
      flex: 1;
    }
    .connect-cluster {
      margin-left: $medium;
      flex: 1;
      form > input + input {
        margin: $xsmall;
      }
    }
  }
  .name-project {
    margin-bottom: $medium;
  }
  .import-models {
    font-family: $font-text;
  }
}
