@import '../../variables';

.leaderboard {
  width: 100%;
  header {
    font-size: 2.5em;
    position: absolute;
    color: $brand-blue;
    font-weight: 800;
    top: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      border-bottom: 1px dashed $brand-dark;
      height: 200px;
      &.leader {
        box-shadow: inset 10px 1px 20px -14px $brand-blue;
      }
      .rank {
        font-size: 2.5em;
      }
      .metadata {

      }
      .actions {
        border-left: 1px solid $brand-dark;
        height: 100%;
        font-size: 1.5em;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      &:first-child {
        border-top: 1px dashed $brand-dark;
      }
    }
  }
}