@import '../../variables.scss';

.mojo-select {
  top: 33px;
  left: -120px;
  width: 300px;
}
.format-select {
  border-style: solid;
  border-color: #4a4a4a;
  border-radius: 45px;
  border-width: thin;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 4px;
  margin-bottom: 12px;
  font-weight: 600;
}
