@import '../../variables.scss';

.new-project {
  .disabled {
    &:after {
      display: block;
      position: absolute;
      content: '';
      background: white;
      height: 100%;
      width: 100%;
      z-index: 2;
      opacity: 0.7;
    }
  }
  form {
    margin: $small 0;
    label {
      font-size: 1.5em;
      display: block;
      margin: ($xsmall / 2) 0;
    }
    span {
      font-size: 1em;
      font-family: "Open Sans", sans-serif;
      display: block;
    }
    input {
      width: $base-grid-unit * 3;
    }
  }
  .save-dictionary, .train-models {
    margin: $medium 0;
  }
  .build-model {
    margin-bottom: $medium;
    .row.header {
      padding: 0;
    }
    .row {
      padding: $xsmall 0;
      .cell:first-child {
        flex-basis: $xlarge * 2;
        flex-grow: 0;
      }
    }
    .mode-checkboxes {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
    .dataframe-range {
      display: flex;
      flex-direction: column;
      width: $xlarge * 5;
      input[type="range"] {
        width: $xlarge * 5;
      }
      &-labels {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
