@import '../../variables.scss';

.new-project {
  .progress-bar-container {
    border-radius: $medium;
    background-color: transparent;
    border: $rule-solid-thick;
    transition: width 0.3s ease-in 0.3s;
    height: $medium;
    width: 40%;
  }
  .disabled {
    * {
      pointer-events: none;
    }
    &:after {
      display: block;
      position: absolute;
      content: '';
      background: white;
      height: 100%;
      width: 100%;
      z-index: 2;
      opacity: 0.7;
      top: 0;
      left: 0;
    }
  }
  .added-file {
    position: relative;
    .added-file-icon {
      height: 7em;
      display: inline-block;
      position: relative;
      width: 8em;
      i.fa.fa-file-o {
        position: absolute;
        font-size: 7em;
      }
      .file-type {
        position: absolute;
        bottom: 0.7em;
        left: 0.7em;
        font-size: 1.5em;
      }
    }
    .added-file-info-wrapper {
      position: absolute;
      display: inline-block;
      .added-file-info {

      }
    }
  }
  form {
    margin: $small 0;
    position: relative;
    label {
      font-size: 1.5em;
      display: block;
      margin: ($xsmall / 2) 0;
    }
    span {
      font-size: 1em;
      font-family: "Open Sans", sans-serif;
      display: block;
    }
    input {
      width: $base-grid-unit * 5;
      height: $medium;
      cursor: pointer;
    }
  }
  input[type="file"] {
    display: none;
  }
  .upload-file {
    margin-right: $small;
    height: $medium;
    margin-top: $xsmall;
  }
  .table {
    position: relative;
    &.disabled .cell {
      span {
        background: $brand-dark-3;
        color: $brand-dark-3;
      }
      .values {
        display: none;
      }
    }
  }
  a.next {
    margin-top: $medium;
    position: relative;
    &.disabled {
      border: 1px solid $brand-dark-1;
      background: $brand-dark-1;
      pointer-events: none;
      &:after {
        top: -1px;
        left: -1px;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
      }
    }
  }
  .train-models {
    margin: $medium 0;
    position: relative;
  }
  .build-model {
    margin-bottom: $medium;
    .row.header {
      padding: 0;
    }
    .row {
      padding: $xsmall 0;
      .cell:first-child {
        flex-basis: $xlarge * 2;
        flex-grow: 0;
      }
    }
    .mode-checkboxes {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
    .dataframe-range {
      display: flex;
      flex-direction: column;
      width: $xlarge * 5;
      input[type="range"] {
        width: $xlarge * 5;
      }
      &-labels {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
