@import '../../variables.scss';

.page-header {
  font-family: "Oswald", sans-serif;
  font-size: 44px;
  color: $brand-orange;
  line-height: 1.1;
  text-transform: uppercase;

  margin-bottom: 44px;
  display: flex;
  flex-wrap:wrap;
  align-items: flex-end;
  justify-content: space-between;
  div.buttons {
    display: flex;
    align-items: flex-end;
    margin-top: 0px;
    margin-left: 11.5px;
    margin-bottom: 0px;
    button:first-child {
      margin-right: $xsmall;
    }
  }
}

.subtitle {
  color: $brand-dark-3;
  font-size:40%;
  text-transform:none;
  font-family:Arial, sans-serif;
  flex-basis:100%;
}
