@import '../../variables.scss';

.panel {
  border: 1px solid #bcbcbc;
  border-radius: 3px;
  box-shadow: 0 3px 3px #bcbcbc;
  margin-bottom: 16px;
  margin-right: 16px;
  display: flex;
  font-family: $font-text;
  .panel-title {
    font-size: 1.5em;
    border-right: $rule-solid-thin;
    padding: $small;
    a {
      text-decoration: none;
    }
  }
  .panel-sub-title {
    font-size: 0.8em;
  }
  .panel-body {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
  }
  .panel-info {
    padding: $small;
    flex-basis: 80%;
    border-right: $rule-solid-thin;
  }
  .panel-actions {
    display: flex;
    flex-direction: column;
    margin: $small;
    .panel-action {
      margin-bottom: $xsmall / 2;
      cursor: pointer;
      div {
        display: inline-block;
      }
      div:first-of-type {
        width: $small;
        text-align: center;
      }
    }
  }
}
