.clusterConnectingStatus {
  height: 14px;
  font-size: 14px;
}
.cluster-fetch-progress {
  display: flex;
  flex-direction: row;
}
.spin-spacer {
  position: relative;
  width: 22px;
  height: 14px;
}
