@import '../../variables.scss';

.progress-bar-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: $brand-dark-3;
  overflow: hidden;
  .progress-bar {
    transition: width 0.1s linear;
    height: 100%;
    width: 80%;
    background: $brand-green-1;
    position: absolute;
  }
  .progress-counter {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    line-height: 100%;
    left: 1%;
  }
}
