@import '../../variables.scss';

.project-details {
  .page-header {
    .new-project-button-container {
      display: flex;
      a {
        font-size: 14px;
        align-self: center;
      }
    }
  }
  .panel-container {
    display: flex;
    flex-wrap: wrap;
    .panel {
      flex-basis: 40%;
      margin: $xsmall;
      max-height: $xlarge * 2;
      min-height: $xlarge * 2;
      header {
        font-size: 18px;
        font-family: $font-text;
        .delete-project {
          float: right;
          cursor: pointer;
          &:hover {
            color: $brand-dark-3;
          }
        }
      }
      article {
        display: flex;
        width: 100%;
        .project-metadata {
          width: 100%;
          border-left: $rule-solid-thin;
          padding: $small;
        }
      }
    }
  }
}
