@import '../../variables.scss';

.table .row {
  width: 100%;
  border-bottom: 1px dotted $brand-dark-3;
  padding: 5px;
  @media (min-width: 500px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &.header {
    border-bottom: 2px solid $brand-dark-3;
  }
}