@import '../../variables.scss';

.table .row {
  width: 100%;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: $h2o-soft-grey;
  padding: 15px 0;
  @media (min-width: 500px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
  }
  &.header {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $h2o-charcoal-grey;
    font-family: Oswald;
    font-size: 14px;
    text-transform: uppercase;
    color: $h2o-charcoal-grey;
  }
}
