@import '../../variables.scss';

.tabs {
  position: relative;
  z-index: 1;
  white-space: nowrap;
  border-style: solid;
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #979797;
  .tab {
    font-family: "Oswald", sans-serif;
    position: relative;
    display: inline-block;
    font-weight: 500;
    padding-left: 28px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: $h2o-charcoal-grey;
    text-decoration: none;
    margin: 0 -0.1em;
    cursor: pointer;
    text-transform: uppercase;
    &:not(.selected):before {
      background: #f7f7f7;
    }
    &.selected:before {
      border-bottom: $brand-white;
      margin-bottom: -2px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-style: solid;
      border-width: 2px;
      border-color: #979797;
      border-bottom: none;
      background: white;
      transform: perspective(5px) rotateX(1deg);
      transform-origin: bottom;
    }
  }
}
