@import '../../variables.scss';

.welcome-splash-screen {
  display: flex;
  justify-content: center;
  font-size: 32px;
  &--content {
    display: flex;
    flex-direction: column;
    text-align: center;
    &--product-name {
      font-size: 72px;
      color: $brand-orange;
      sub {
        font-size: 0.5em;
      }
    }
    div:last-child {
      font-size: 0.7em;
    }
  }
  button {
    align-self: center;
    background: $brand-orange;
    border: none;
    color: $brand-white;
    padding: $xsmall $large;
    font-size: 20px;
    font-weight: 600;
    margin-top: $xlarge;
    border-radius: 5px;
  }
}
