@import '../../variables.scss';

.welcome-splash-screen {
  display: flex;
  justify-content: center;
  font-size: 32px;
  height: 100%;
  width: 100%;
  &--content {
    display: flex;
    flex-direction: column;
    text-align: center;
    &--product-name {
      font-size: 72px;
      color: $brand-orange;
      sub {
        font-size: 0.5em;
      }
      + div {
        font-size: 0.7em;
      }
    }
  }
  a {
    align-self: center;
    padding: $xsmall $xlarge;
    font-size: 20px;
    font-weight: 600;
    margin-top: $xlarge;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    &:visited {
      text-decoration: none;
      color: $brand-white;
    }
  }
  .eula-line {
    margin-top: $xsmall;
    font-family: $font-text;
    font-size: 12px;
  }
}

.eula-modal {
  .eula-content {
    height: 100%;
    width: 100%;
  }
  .eula-text {
    border: $rule-solid-thin;
    height: 80%;
    width: 100%;
    overflow: auto;
  }
  .buttons-container {
    margin-top: $xsmall;
    button:first-of-type {
      margin-right: $xsmall;
    }
  }
}
