@import '../../variables.scss';

.product-title {
  margin-top: 22px;
  margin-bottom: 18px;
  font-size: 72px;
  justify-content: center;
}
.half-size {
  font-size: 0.5em;
}

.welcome-splash-screen {
  display: flex;
  justify-content: center;
  font-size: 32px;
  height: 100%;
  width: 100%;
  &--content {
    display: flex;
    flex-direction: column;
    text-align: center;
    &--product-name {
      font-size: 72px;
      color: $brand-orange;
      sub {
        font-size: 0.5em;
      }
      + div {
        font-size: 0.7em;
      }
    }
  }
  a.start-project {
    align-self: center;
    padding: $xsmall $xlarge;
    font-size: 20px;
    font-weight: 600;
    margin-top: $xlarge;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    &:visited {
      text-decoration: none;
      color: $brand-white;
    }
  }
}

.nav-container.hidden {
  opacity: .1;
  pointer-events: none;
}
