#Dependencies are not set up yet.
Source: steam
Section: unknown
Priority: optional
Maintainer: Steam Team <steam@h2o.ai>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/h2oai/steam
#Vcs-Git: git://anonscm.debian.org/collab-maint/steam.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/steam.git

Package: steam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Platform for h2o cluster management and service deployment
 Steam supports secure h2o cluster launch and management, proxied cluster
 access for security, simple model management and a number of options
 for deploying predictive services.
