@import '../../variables';

.body-container {
  height: 100%;
  min-height: 100%;
  background-color: $brand-white;
  .content {
    padding: 45px;
    height: 100%;
    min-height: 100%;
  }
  .menu-container {
    position: absolute;
  }
}