@import '../../variables.scss';

.overlay-container {
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  .overlay {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }
  &.open {
    z-index: $body-index + 1;
    height: 100%;
    width: 100%;
    background: rgba($brand-dark-1, .7);
  }
}