@import '../../variables.scss';

.clusters {
  .panel-container {
    display: flex;
    flex-wrap: wrap;
    .panel {
      flex-basis: 40%;
      display: block;
      padding: $small;
      margin: $xsmall;
      min-height: $xlarge * 2;
      header {
        font-size: 1.5em;
        a {
          text-decoration: none;
        }
      }
      .cluster-status {
        color: $brand-green-3;
      }
    }
  }
  .remove-cluster {
    float: right;
    cursor: pointer;
    font-size: 1em;
    border: none;
    background: transparent;
  }
}
