@import '../../variables.scss';

.user-access {

}
.filter-and-list {
  display: flex;
  flex-direction: row;
}

.right-table-bar {
  border-color: #9b9b9b;
  border-right-style: solid;
  border-width: 0.1em;
}
.center-text {
  text-align: center;
}
.full-size {
  width: 100%;
}
.filter-column {
  margin-top: 1em;
  margin-right: 2em;
  width: 12em;
}
.user-access-list {
  width: 100%;
}
