@import '../../variables.scss';

.user-access {
  .bulk-select {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
  }
}
.ldap-input {
  width: 505px;
}
.filter-and-list {
  display: flex;
  flex-direction: row;
}

.right-table-bar {
  border-color: #9b9b9b;
  border-right-style: solid;
  border-width: 0.1em;
}
.center-text {
  text-align: center;
}
.full-size {
  width: 100%;
}
.filter-column {
  margin-top: 1em;
  margin-right: 2em;
  width: 12em;
}
.user-access-list {
  width: 100%;
}
.inactive {
  color: $h2o-soft-grey;
}

.space-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.auth-left {
  font-weight: bold;
  width: 240px;
}
