@import '../../variables.scss';

.export-modal {
  .content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    section {
      display: flex;
      div:first-of-type {
        flex-basis: $base-grid-unit * 3;
      }
      form {
        display: flex;
        flex-direction: column;
        font-family: $font-text;
        fieldset {
          padding: $xsmall;
          border-radius: 5px;
          margin: $xsmall 0;
          font-weight: 800;
          color: $brand-dark-3;
          .file-extension {
            font-size: 1.2em;
            color: $brand-dark-1;
            margin: 0 ($xsmall / 2);
          }
          &input[type="radio"]:checked {
            border-color: $brand-blue;
          }
        }
      }
    }
    .actions {
      a.default {
        margin-right: $small;
      }
    }
  }
}
