@import '../../variables.scss';

.goodness-of-fit {
  display: flex;
  .roc-container {
    margin: $medium;
    svg {
      height: 300px;
    }
  }
  .compare {
    .details--value {
      span:first-of-type {
        color: $brand-blue;
        margin-right: $small;
      }
      span:last-of-type {
        color: $brand-orange;
      }
    }
  }
}
