@import '../../variables.scss';

.model-comparison-modal {
  .default-modal-container  {
    height: 100%;
  }
  .content {
    position: relative;
    height: 100%;
  }
  .row {
    .cell:first-of-type {
      flex-grow: 0;
      flex-basis: $large;
    }
  }
  footer {
    width: 100%;
    button {
      float: right;
    }
  }
  .table {
    font-family: $font-text;
    max-height: $base-grid-unit * 3;
    overflow: auto;
    .row {
      flex: 0 0 auto;
    }
  }
}
