@import '../../variables.scss';

.model-details {
  .overview-header {
    font-size: $medium;
    border-bottom: 2px solid $brand-dark-3;
    i {
      font-size: $small;
      font-weight: 100;
      margin-right: $xsmall;
    }
  }
}
