@import '../../variables.scss';

html, body, .app-container, #app {
  height: 100%;
  min-height: 100%;
  font-family: "Oswald", "Open Sans", sans-serif;
  font-size: 12px;
  color: $brand-dark-1;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  margin: 0;
}

.app-container {
  display: flex;
  .body-container {
    height: 100%;
    min-height: 100%;
    background-color: $brand-white;
    overflow: auto;
    width: 100%;
    z-index: $body-index;
    display: flex;
    flex-direction: column;
  }
}
