@import '../../variables.scss';

html, body, .app-container, #app {
  height: 100%;
  min-height: 100%;
  font-family: $font-body;
  font-size: 12px;
  color: $brand-dark-1;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  margin: 0;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

a {
  color:$link-color;
}

select {
  background: lighten($brand-dark-3, 25%);
  height: $medium;
  width: $xlarge * 5;
}

button, a {
  &.default {
    display: inline-block;
    padding: ($xsmall / 2) $medium;
    border-radius: 3px;
    color: $brand-white;
    background-color: $brand-orange;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid $brand-orange;
    &:visited {
      text-decoration: none;
      color: $brand-white;
    }
    &.invert {
      color: $brand-orange;
      background-color: $brand-white;
      border: 1px solid $brand-orange;
      &:visited {
        color: $brand-orange;
      }
    }
  }
}

.app-container {
  display: flex;
  .body-container {
    height: 100%;
    min-height: 100%;
    background-color: $brand-white;
    overflow: auto;
    width: 100%;
    z-index: $body-index;
    display: flex;
    flex-direction: column;
  }
}
