@import '../../variables.scss';

html, body, .app-container, #app {
  height: 100%;
  min-height: 100%;
  font-family: $font-body;
  font-size: $text-size;
  color: $brand-dark-1;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  margin: 0;
}

article {
  h1 {
    font-size:2em;
    text-transform:uppercase;
    letter-spacing:1px;
    font-weight:300;
    margin:.25em 0;
  }
  p {
    font-family: $font-text;
  }
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

a {
  color:$link-color;
}
.link {
  color:$link-color;
  text-decoration:underline;
  cursor:pointer;
}

select {
  background: #f0f0f0; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 10%, #d4d4d4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 10%,#d4d4d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 10%,#d4d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
  box-shadow:1px 1px 3px rgba(0,0,0,0.25);
  height: $medium;
  width: $xlarge * 5;
}

button {
  font-size:$text-size;
  font-family:$font-text;
}

button, a {
  &.default {
    display: inline-block;
    padding: ($xsmall / 2) $medium;
    border-radius: 3px;
    color: $brand-white;
    background-color: $brand-orange;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid $brand-orange;
    &:visited {
      text-decoration: none;
      color: $brand-white;
    }
    &.invert {
      color: $brand-orange;
      background-color: $brand-white;
      border: 1px solid $brand-orange;
      &:visited {
        color: $brand-orange;
      }
    }
    &.disabled {
      background: $brand-dark-3;
      border-color: $brand-dark-3;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  &.link {
    display:inline;
    border:none;
    padding:0;
    margin:0;
    background:none;
    color:$link-color;
    text-decoration:underline;
    cursor:pointer;
    font-size:inherit;
  }
}

.app-container {
  display: flex;
  .body-container {
    background-color: $brand-white;
    width: 100%;
    z-index: $body-index;
    display: flex;
    flex-direction: column;
  }
}

// forms

input[type="text"], textarea {
  border: solid 1px $brand-dark-3;
  padding:5px;
  border-radius:3px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.35);
  background: #fff;
  font-size: $text-size;
  font-family: $font-text;
  &:focus {
    border-color: $brand-blue;
    box-shadow: inset 0 0 3px rgba(20,133,204,0.35);
  }
}

.form-group {
  .form-item {
    padding:10px 0;
    input, textarea {
      width:100%;
    }
    label {
      display:block;
      color: $brand-dark-3;
      font-size:.9em;
      margin-bottom:0.3em;
    }
  }
}

// miscellaneous

.muted {
  color: $brand-dark-3;
}
