@import '../../variables.scss';

html, body, .app-container, #app {
  height: 100%;
  min-height: 100%;
  font-family: "Open Sans";
  font-size: 14px;
  color: $h2o-charcoal-grey;
  line-height: 1.3;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-family: Oswald;
  font-weight:400;
  font-size: 36px;
  text-transform: capitalize;
  color: $h2o-charcoal-grey;
  line-height: 1.1;
  margin-bottom: 0px;
  margin-top: 22px;
}

h2 {
  font-family: Oswald;
  font-weight: 400;
  font-size: 24px;
  text-transform: capitalize;
  color: $h2o-charcoal-grey;
  line-height: 1.1;
}

/*Lede text, i.e. primary paragraphs of text on a page that serves introductory purposes.*/
.lede {
  font-family: "Open Sans";
  font-size: 18px;
  color: $h2o-charcoal-grey;
  line-height: 1.3;
  margin-right: 16px;
}
/*Supplementary text, i.e. notes about primary conent. Never more than a couple words.*/
.supplementary {
  font-family: "Open Sans";
  font-size: 11px;
  color: $h2o-charcoal-grey;
}

article {
  p {
    font-family: $font-text;
  }
}

input {
  margin-bottom: 10px;
  margin-right: 11px;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

a {
  color: #4A90E2;
}
.link {
  color:$link-color;
  cursor:pointer;
}
.intro {
  margin-top: 16px;
}

select {
  background: #f0f0f0; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 10%, #d4d4d4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 10%,#d4d4d4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 10%,#d4d4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d4d4d4',GradientType=0 ); /* IE6-9 */
  box-shadow:1px 1px 3px rgba(0,0,0,0.25);
  height: $medium;
  width: $xlarge * 5;
}

.button-base {
  font-family: "Open Sans";
  position: relative;
  display: inline-flex;
  top: -3px;
  margin-right: 16px;
  border-radius: 3px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border-width: 0px;
  &.disabled {
    background: $brand-dark-3;
    border-color: $brand-dark-3;
    pointer-events: none;
    cursor: not-allowed;
  }
}
.button-primary {
  @extend .button-base;
  color: white;
  background-color: $h2o-orange-prime;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: inline-flex;
}
.button-secondary {
  @extend .button-base;
  color: $h2o-orange-prime;
  background-color: transparent;
  border-color: $h2o-orange-prime;
  border-style: solid;
  border-width: 2px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
}
.button {
  display: inline-flex;
  color: $h2o-soft-grey;
  text-decoration: underline;
  cursor: pointer;
}

button, a {
  &.default {
    display: inline-block;
    padding: ($xsmall / 2) $medium;
    border-radius: 3px;
    color: $brand-white;
    background-color: $brand-orange;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid $brand-orange;
    &:visited {
      text-decoration: none;
      color: $brand-white;
    }
    &.invert {
      color: $brand-orange;
      background-color: $brand-white;
      border: 1px solid $brand-orange;
      &:visited {
        color: $brand-orange;
      }
    }
    &.disabled {
      background: $brand-dark-3;
      border-color: $brand-dark-3;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
  &.link {
    display:inline;
    border:none;
    padding:0;
    margin:0;
    background:none;
    color:$link-color;
    text-decoration:underline;
    cursor:pointer;
    font-size:inherit;
  }
}

.app-container {
  display: flex;
  .body-container {
    left: 300px;
    max-width: 1100px;
    background-color: $brand-white;
    width: 100%;
    z-index: $body-index;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 7px rgba(0,0,0,0.35);
  }
}

// forms

input[type="text"], textarea {
  border: solid 1px $brand-dark-3;
  padding:5px;
  border-radius:3px;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.35);
  background: #fff;
  font-size: $text-size;
  font-family: $font-text;
  &:focus {
    border-color: $brand-blue;
    box-shadow: inset 0 0 3px rgba(20,133,204,0.35);
  }
}

.form-group {
  .form-item {
    padding:10px 0;
    input, textarea {
      width:100%;
    }
    label {
      display:block;
      color: $brand-dark-3;
      font-size:.9em;
      margin-bottom:0.3em;
    }
  }
}

// miscellaneous

.muted {
  color: $brand-dark-3;
}

.header-buttons {
  margin-right: 44px;
}

.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
}
.mar-right-12 {
  margin-right: 12px;
}
.mar-right-3 {
  margin-right: 3px;
}
.mar-right-71 {
  margin-right: 71px;
}
.mar-bot-20 {
  margin-bottom: 20px;
}
.mar-bot-7 {
  margin-bottom: 7px;
}
