@import '../../variables.scss';

.breadcrumb {
  &.filled {
    border-bottom: solid;
    border-style: solid;
    border-bottom-width: 2px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-color: #e6e6e6;
  }
  height: $base-grid-unit;
  margin: 0;
  padding-left: 44px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  color: $brand-dark-3;
  > li+li::before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 1.2em;
    padding: 0 0.5rem;
  }
}
