@import '../../variables.scss';

.overlay-container {
  transition: opacity 300ms ease-in-out;
  background: rgba($brand-white, .7) !important;
}

.default-modal-container {
  display: flex;
  width: 100%;
  justify-content: center;
  max-height: 70%;
}

.default-modal {
  width: 50%;
  background: $brand-white;
  border-radius: 2px;
  border: 1px solid $brand-dark-1;
  box-shadow: 0px 3px 5px 0 $brand-dark-3;
  padding: $medium;
  overflow: auto;
  header {
    font-size: 2.5em;
    border-bottom: 2px solid $brand-dark-3;
    padding: 0 0 $small 0;
    margin-bottom: $xsmall;
    color: $brand-orange;
  }
  .button-row {
    button {
      margin-right:10px;
    }
    button:last-of-type {
      margin-right: 0;
    }
  }
}
