@import '../../variables.scss';

.notification {
  margin: $xsmall auto;
  min-height: 72px;
  width: 432px;
  background: rgba(255, 255, 255, 0.5);;
  font-family: $font-text;

  /*opacity: 0.32;*/
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);

  .left-type-guide {
    width: 5px;
    min-height: 72px;
  }
  .left-type-guide-info{
    background-color: #d8d8d8;
  }
  .left-type-guide-warning {
    background-color: #F5A623;
  }
  .left-type-guide-error {
    background-color: #D0021B;
  }
  .left-type-guide-confirmation {
    background-color: #417505;
  }
  .view-button {
    border-width: 1px;
    border-bottom: solid;
    border-color: #dddddd;
  }

  .text-container {
    margin-left: 10px;
  }

  .actions-container {
    border-left: solid;
    border-color: #dddddd;
    border-width: 1px;
  }

  .header {
    font-weight: bold;
    margin-top: 16px;
  }

  .detail {
    margin-bottom: 16px;
  }

  .inner-notification {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: auto;
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;
      width: 100%;
      height: 100%;
    }
    .actions-container {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 108px;
      button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
}
.notification-manager {
  position: absolute;
  right: 22px;
  z-index: 10;
}
