@import '../../variables.scss';

.labels {
  h1 {
    font-size:2em;
    text-transform:uppercase;
    letter-spacing:2;
    font-weight:300;
    margin:.25em 0;
  }
  p {
    font-family: $font-text;
  }
}
