@import '../../variables.scss';

.close-button-container {
  position: relative;
  .close-button {
    position: absolute;
    font-size: 2em;
    top: 0;
    background: transparent;
    color: $brand-dark-1;
    border: none;
    cursor: pointer;
    &:hover {
      color: darken($brand-dark-1, 25%);
    }
  }
}

.deploy-modal {
  .deployment-table .row {
    &:first-of-type {
      padding-top: 0;
    }
    border: none;
    padding: $small 0;
    .cell:first-child {
      flex-basis: $xlarge * 3;
    }
    .cell:last-child {
      flex-basis: 100%;
      font-family: "Open Sans", sans-serif;
    }
  }
  .deploy-button {
    margin-right: $small;
  }
  label {
    margin-top: $small;
    display: block;
    font-size: .7em;
  }
}
