@import '../../variables.scss';

.filter-dropdown {
  position: relative;
  .filter-dropdown-invoker {
    background: $brand-white;
    border: $rule-solid-thin;
    position: relative;
    &.open {
      &:before {
        background: $brand-white;
        z-index: 2;
        content: '';
        margin: -1px 0;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
      }
    }
  }
  .filter-dropdown-menu {
    position: absolute;
    display: none;
    background: $brand-white;
    border: $rule-solid-thin;
    width: $xlarge * 3;
    margin-top: -1px;
    padding: 10px;
    .filter-option {
      width: 50%;
      display: flex;
      flex-direction: column;
      ul {
        list-style-type: none;
        padding: 0;
        li {
          padding: 5px 0;
          font-weight: 800;
          color: $brand-dark-3;
          &.selected {
            color: $brand-dark-1;
          }
        }
      }
    }
    .filter-labels {
      font-family: $font-title;
      font-weight: 800;
      font-size: .7em;
    }
    &.open {
      display: flex;
    }
  }
}
