@import '../../variables.scss';

.filter-icon {
  width:12px;
  height:15px;
  span {
    height: 3px;
    display:block;
    background: $brand-dark-2;
    margin-bottom:2px;
    &:nth-child(2) {
      width:66%;
    }
    &:nth-child(3) {
      width:33%;
    }
  }
}

.filter-dropdown {
  position: relative;
  .filter-dropdown-invoker {
    background: $brand-white;
    border: none;
    position: absolute;
    z-index:1;
    padding-top:5px;
    &.open {
      border: $rule-solid-thin;
      box-shadow: 0 0 3px rgba(0,0,0,0.35);
      &:before {
        background: $brand-white;
        z-index: 2;
        content: '';
        position: absolute;
        width: 120%;
        height: 5px;
        left: 0;
        bottom: -5px;
      }
    }
  }
  .filter-dropdown-menu {
    position: absolute;
    display: none;
    background: $brand-white;
    border: $rule-solid-thin;
    width: $xlarge * 3;
    top:23px;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.35);
    .filter-option {
      width: 50%;
      display: flex;
      flex-direction: column;
      ul {
        list-style-type: none;
        padding: 0;
        margin:0;
        li {
          font-family: "Open Sans", sans-serif;
          cursor: pointer;
          padding: 5px 0;
          font-weight: 600;
          color: $brand-dark-3;
          &.selected {
            color: $brand-dark-1;
          }
        }
      }
    }
    .filter-labels {
      font-family: $font-title;
      font-weight: 800;
      font-size: .7em;
      color: $brand-dark-1;
    }
    &.open {
      display: flex;
    }
  }
}
