@import '../../variables.scss';

.import-modal {
  .outer-table > .row {
    &:last-of-type, &:nth-last-of-type(2) {
      border-bottom: none;
    }
    > .cell:first-of-type {
      flex-basis: $xlarge * 3;
    }
    > .cell {
      flex-basis: 100%;
    }
  }
  .button-container {
    button.default {
      margin-right: $small;
    }
  }
  .inner-table {
    font-family: $font-text;
    max-height: $base-grid-unit * 3;
    overflow: auto;
    .row {
      flex: 0 0 auto;
    }
  }
}
