@import '../../variables';

.leaderboard {
  width: 100%;
  min-height: 400px;
  .row {
    &.header {
      .cell:first-child {
        padding-top:0;
      }
    }
    .cell {
      flex-grow: 1;
    }
    .cell:first-child {
      flex-grow: 0;
      flex-basis: $medium;
      color: $brand-dark-3;
      padding-top:1px;
    }
    .cell:nth-of-type(2) {
      flex-grow: 2;
      .metadata {
        .model-name {
          font-size: 1.1em;
          font-weight: 600;
        }
      }
      div:not(:first-child) {
        color: $brand-dark-3;
      }
    }
    .graph {
      flex-basis: $xlarge + $medium;
      flex-grow: 0;
      svg {
        rect {
          shape-rendering: crispEdges;
        }
      }
    }
    .cell:last-child {
      flex-basis: $xlarge * 3;
      flex-grow: 1;
      display: flex;
    }
  }
  .actions {
    padding: 0 $xsmall;
    margin:0;
    list-style: none;
    color: $brand-dark-1;
      li {
        cursor: pointer;
        margin-bottom: 5px;
        a, &:visited {
          text-decoration: none;
          color: $brand-dark-1;
        }
        &.labels {
          cursor: default;
          .label-selector {
            display: inline-block;
            margin-left: 7px;
            select {
              cursor: pointer;
              border: solid 1px $brand-orange;
              width: auto;
              height: auto;
              box-shadow: none;
              background: none;
              font-size:14px;
              color: darken($brand-orange, 10%);
            }
          }
        }
      }
    i {
      margin-right: $xsmall / 2;
    }
  }
  .filter {
    width: 30%;
    margin-bottom: $xsmall;
    input {
      width: 100%;
    }
  }
}
