@import '../../variables.scss';

.details {
  font-size: 2em;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--label {
    white-space: nowrap;
    flex: 0 0;
    i {
      font-size: .5em;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
  &--line {
    width: 100%;
    background: $brand-dark-1;
    height: 1px;
    margin: 0 10px;
    flex-grow: 1;
  }
  &--value {
    text-align: left;
    flex: 0 0 200px;
    white-space: nowrap;
  }
}