@import '../../variables';

.metrics.variable-importance {
  .variableImportance {
    .columnName {
      font-size: 1.3em;
      font-weight: 600;
    }

    .detail {
      color: $brand-lightgray;
    }
  }
  .bar {
    fill: $brand-orange;
  }
  font-family: $font-text;
  .table {
    .row {
      &.header {
        .cell:nth-child(1) {
          padding-top:0;
        }
      }
      .cell:nth-child(1) {
        flex-basis:30px;
        padding-top:3px;
        color: $brand-lightgray;
      }
      .cell:nth-child(2) {
        flex-basis:20%;
      }
      .cell:nth-child(3) {
        flex-basis:20%;
      }
      .cell:nth-child(4) {
        flex-basis:20%;
      }
      .cell:nth-child(5) {
        flex-basis:20%;
      }
      .cell:nth-child(6) {
        flex-basis:20%;
      }
    }
  }
}
