<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <servlet>
        <servlet-name>CompilePojo</servlet-name>
        <servlet-class>ai.h2o.servicebuilder.CompilePojoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeWar</servlet-name>
        <servlet-class>ai.h2o.servicebuilder.MakeWarServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CompilePojo</servlet-name>
        <url-pattern>/compile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeWar</servlet-name>
        <url-pattern>/makewar</url-pattern>
    </servlet-mapping>

</web-app>
