@import 'nib'



//
// Macros
// 

// Roboto font-weights:
thin()
  font-weight 200
light()
  font-weight 300
normal()
  font-weight 400
medium()
  font-weight 600
bold()
  font-weight 700
uppercase()
  text-transform uppercase

block()
  position absolute
  display block

caption(height, right=0, left=0)
  block()
  left left
  right right
  height height
  line-height height

minitool(height)
  block()
  line-height height
  text-align center
  height height
  width height
  font-size 18px
  color #a6a6a6
  cursor pointer
  &:hover
    color #8c8c8c

size(width, height=width)
  width width
  height height

// These mixins turn elements into absolutely position block elements.
// The arguments are always in CSS order: top, right, bottom, left
//    unless they have widths or heights defined, in which case those
//    arguments go first.
dock(top=0, right=0, bottom=0, left=0)
  block()
  top top
  right right
  bottom bottom
  left left

dock-top(height, top=0, right=0, left=0)
  block()
  top top
  right right
  left left
  height height

dock-bottom(height, right=0, bottom=0, left=0)
  block()
  right right
  bottom bottom
  left left
  height height

dock-left(width, top=0, bottom=0, left=0)
  block()
  top top
  bottom bottom
  left left
  width width

dock-right(width, top=0, right=0, bottom=0)
  block()
  top top
  right right
  bottom bottom
  width width

dock-top-left(width, height, top=0, left=0)
  block()
  top top
  left left
  size(width, height)

dock-bottom-left(width, height, bottom=0, left=0)
  block()
  bottom bottom
  left left
  size(width, height)

dock-top-right(width, height, top=0, right=0)
  block()
  top top
  right right
  size(width, height)

dock-bottom-right(width, height, right=0, bottom=0)
  block()
  right right
  bottom bottom
  size(width, height)

// 
// Variables
//

x-easing = .2s ease-out

x-border = #424346
x-border-light = #dcdcdc
x-insp-bg = #e6e6e6

x-color-pink = #FC3557
x-color-green = #27E8AA
x-color-red = #FC5656
x-color-blue = #47DFFB
x-color-purple = #8F4979
x-color-yellow = #FAC27A

x-color-bg = #1c1f20
x-color-bright = #fff
x-color-dim = #aaa
x-color-dimmer = #636363
x-color-accent = #50e3c2
x-color-error = #ff5a5a
x-color-bg-shade = #282e3c
x-bg-shade-2 = #2c323f
x-bg-border-color = #383e4f


x-statusbar-height = 25px
x-navbar-width = 50px 
x-insp-width = 215px
x-action-height = 46px
x-action-padding = 10px


// 
// Overrides
// 

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary, input, button, select
  font-family 'Source Sans Pro', sans-serif

textarea:focus, input:focus, button:focus, select:focus
  outline 0

html, body
  background x-color-bg
  color x-color-dim
  font-size 11px
  user-select none
  cursor default

.reset
  appearance none
  border none
  background transparent
  margin 0
  padding 0

//
// Components
//


.main
  dock()

.logo
  dock-top-left(x-navbar-width, x-navbar-width)
  line-height x-navbar-width
  text-align center
  font-size 20px
  light()
  background x-color-accent
  color x-color-bg


.titlebar
  dock-top(x-navbar-width, 0, 0, x-navbar-width)

.breadcrumb
  display inline-block
  line-height x-statusbar-height
  height x-statusbar-height
  margin-left 10px
  cursor pointer

.breadcrumb__title
  display inline-block
  line-height x-statusbar-height
  height x-statusbar-height
  margin-left 5px

.breadcrumb__arrow
  display inline-block
  width 0
  height 0
  border-style solid
  border-width 4px 0 4px 5px
  border-color transparent transparent transparent x-color-accent

.body
  dock(0, 0, x-statusbar-height, x-navbar-width)

.navbar
  dock-left(x-navbar-width, x-navbar-width)
  background #131313

.navbar-button
  position relative
  text-align center
  height x-navbar-width
  cursor pointer
  box-sizing border-box
  border-left 1px solid transparent
  margin-top 9px

.navbar-button--selected
  // background #292a2b
  color x-color-accent
  border-color x-color-accent

.navbar-button__icon
  dock(3px)
  font-size 22px

.navbar-button__title
  dock-bottom(21px)
  font-size 9px
  text-transform uppercase
  letter-spacing 0.1em
  light()

.workspace
  dock(0, 0, 0, 0)
  border-left 1px solid #252525
  overflow auto

.pane-span
  dock-left(10)

.pane
  dock-left(200px)
  border-right 1px solid #656565
  &:nth-child(even)
    background #1A1D1E
    .pane__titlebar
      background #303030

.pane__titlebar
  dock-top(x-navbar-width)
  line-height x-navbar-width
  padding 0 10px
  font-size 16px
  thin()
  overflow ellipsis
  background #292929
  color #f7f7f7
  border-bottom 1px solid #383838

.pane__body
  dock(x-navbar-width)
  overflow auto

.pane__body--01
  bottom x-action-height

.pane__body--02
  bottom x-action-height*2

.pane__body--11
  top x-navbar-width*2

.pane__actions
  dock-bottom(x-action-height)
  background #303030

.buttons
  position relative
  height x-action-height

.buttons--unit
  display: inline-block
  width: 200px

.button
  dock(x-action-padding,x-action-padding,x-action-padding,x-action-padding)
  box-sizing border-box
  border-radius 100px
  text-align center
  font-size 10px
  text-transform uppercase
  letter-spacing 2px
  line-height x-action-height - 2*x-action-padding
  cursor pointer
  background #909090
  color white

.button--primary
  background x-color-accent
  color x-color-bg

.button--danger
  background x-color-red

.buttons--unit
  .button
    right: 0px

.pane__page
  margin 20px 20px 40px 20px

  h1
    display inline-block
    background #484848
    font-size 13px
    padding 1px 5px
    color #bfbfbf
    light()

  h2
    font-size 24px
    margin-top 20px
    color x-color-accent
    thin()

  p
    font-size 14px
    margin-bottom 20px
    light()

  table
    font-size 14px

  th
    padding 10px 8px
    color x-color-accent
    border-bottom 2px solid #545454
    light()
  td
    border-bottom 1px solid #545454
    padding 6px 8px 
    light()

  pre
    font-family 'Inconsolata', monospace
    font-size 15px
    line-height 22px
    padding 10px
    background #2b2b2b

.folder
  position relative
  padding 7px 10px
  cursor pointer
  // border-bottom 1px solid #2d2d2d
  border-left 1px solid transparent
  &:hover
    background #272727

.folder--selected
  border-left-color x-color-accent
  background #2d2d2d
  color white

.folder__title
  light()
  font-size 14px

.folder__subhead
  color x-color-dimmer

.folder__slug
  margin-left 5px
  color #157F68

.folder--selected
  .folder__subhead
    color x-color-dim

.cloud-folder__node
  display inline-block
  size(5px)
  margin 0 5px 5px 0
  background x-color-green

.cloud-folder__node--dead
  background x-color-red

x-progressbar-height = 1px

.progressbar
  height x-progressbar-height
  background #383838

.progressbar__bar
  height x-progressbar-height

.green
  background x-color-green

.red
  background x-color-red

.statusbar
  dock-bottom(x-statusbar-height, 0, 0, x-navbar-width)
  border-top 1px solid #383838

// --- Modal Dialogs ---

.mask
  dock()
  background #000
  opacity 0.5
  cursor default

.busy
  dock()

.busy-message
  position absolute
  text-align center
  left 0
  right 0
  top 45%
  font-size 20px
  color white
  thin()

.dialogs
  dock(x-navbar-width, x-navbar-width, x-navbar-width, x-navbar-width)
  border 1px solid x-color-accent
  background x-color-bg

.dialog
  dock()

x-dialog-title-height = 40px

.dialog__titlebar
  dock-top(x-dialog-title-height)
  line-height x-dialog-title-height
  overflow ellipsis
  background x-color-accent
  border-bottom 1px solid #383838

.dialog__title
  dock(0px, x-dialog-title-height, 0, 10px)
  light()
  color #000
  font-size 20px

.dialog__exit
  dock-right(x-dialog-title-height)
  cursor pointer
  text-align center
  font-size 40px
  color x-color-bg

.dialog__body
  dock(x-dialog-title-height, 0, 0, 0)

.dialog__form
  dock(0, 0, x-action-height, 0)
  padding 10px

.dialog__actions
  dock-bottom(x-action-height)
  background #303030

.dialog__buttons
  background white

.dialog__buttons--primary
  background x-color-accent
  color x-color-bg

.dialog__buttons--danger
  background x-color-red
  color white

.form-field-label
  font-size 14px

.form-field-error
  min-height 20px
  margin-bottom 20px
  color x-color-accent
  light()
  font-size 13px

.form
  font-size 16px
  th, td
    thin()
    vertical-align middle
    padding 5px 10px
  th
    text-align right
    border-right 1px solid #444

.textbox
  background x-color-bg
  color x-color-dim
  border none
  border-bottom 1px solid x-color-dim
  transition color x-easing, border-color x-easing
  font-size 16px
  padding 4px 6px
  &::-webkit-input-placeholder
    color x-color-dimmer
  &:-moz-placeholder
    color x-color-dimmer
  &::-moz-placeholder
    color x-color-dimmer
  &:-ms-input-placeholder
    color x-color-dimmer
  &:hover
    color x-color-bright
    border-color x-color-bright
  &:focus
    color x-color-accent
    border-color x-color-accent
    
