doctype
include mixins.jade
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Steam
    meta(name='description' content='Fast Scalable Machine Learning for Smarter Applications')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='reset.css' type='text/css')
    // link(rel='stylesheet' href='fonts/roboto-fontface.css' type='text/css')
    // link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata' type='text/css')
    // link(rel='stylesheet' href='fonts/material-icons.css' type='text/css')
    link(rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' type='text/css')
    link(rel='stylesheet' href='styles.css' type='text/css')
    //-script(src='js/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .main
      .logo S
      .titlebar
        .breadcrumbs
      // ko with:navBar
      .navbar(data-bind="template:{ name:'tmpl-navbar-button', foreach:buttons }")
      // /ko
      .body
        .workspace
          .pane-span(data-bind="style:{ width:span }")
          // ko foreach:panes
          .pane(data-bind="style:{ left:position.leftPx, width:position.widthPx }, template:{ name:$root.templateOf }, autoscroll:true")
          // /ko
      .statusbar
        // ko foreach:breadcrumbs
        .breadcrumb(data-bind="click:execute")
          .breadcrumb__arrow
          .breadcrumb__title(data-bind="text:title")
        // /ko

    // ko if:hasDialogs
    .mask
    .dialogs(data-bind="template: { name:'tmpl-dialog', foreach: dialogs}")
    // /ko

    // ko if:busyMessage
    .mask
    .busy
      .busy-message
        img(src="spinner.gif" style="margin-right:10px")
        span(data-bind="text:busyMessage")
    // /ko

    //
    // Templates
    //

    template.dialog
      .dialog
        .dialog__titlebar
          .dialog__title(data-bind="text:title")
          .dialog__exit(data-bind="click:cancel")
            i.icon.ion-ios-close-empty
        .dialog__body(data-bind="template:{ name:$root.templateOf }")
    
    template.start-cloud-dialog
      .dialog__form
        .form-field-label Specify a name for this cloud:
        .form-field
          input.textbox(type='text' placeholder='Name' data-bind="value:cloudName, valueUpdate:'afterkeydown'" style='width:300px')
        .form-field-error(data-bind="text:cloudNameError")

        .form-field-label How many nodes should this cloud have?
        .form-field
          input.textbox(type='text' placeholder='Size' data-bind="value:cloudSize, valueUpdate:'afterkeydown'" style='width:50px')
        .form-field-error(data-bind="text:cloudSizeError")

      .dialog__actions
        .buttons.buttons--unit
          .button.button--primary(data-bind="click:startCloud") Start Cloud
        .buttons.buttons--unit
          .button(data-bind="click:cancel") Cancel

    template.deploy-model-dialog
      .dialog__form
        .form-field-label Specify a port number for the scoring service:
        .form-field
          input.textbox(type='text' placeholder='Port' data-bind="value:port, valueUpdate:'afterkeydown'" style='width:50px')
        .form-field-error(data-bind="text:portError")

      .dialog__actions
        .buttons.buttons--unit
          .button.button--primary(data-bind="click:deployModel") Deploy
        .buttons.buttons--unit
          .button(data-bind="click:cancel") Cancel

    template.add-engine-dialog
      .dialog__form
        .form-field-label Select the file to upload:
        .form-field
          input.textbox(type='text' placeholder='Browse and select a file...' data-bind="value:file, valueUpdate:'afterkeydown'" style='width:250px')
        .form-field-error(data-bind="text:fileError")

      .dialog__actions
        .buttons.buttons--unit
          .button.button--primary(data-bind="click:addEngine") Upload
        .buttons.buttons--unit
          .button(data-bind="click:cancel") Cancel

    template.navbar-button
      .navbar-button(data-bind="css:{ 'navbar-button--selected':isSelected }, click:execute")
        .navbar-button__icon
          i.icon(data-bind="css: icon")
        .navbar-button__title(data-bind="text:title")

    template.folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")

    template.clouds
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .buttons
          .button.button--primary(data-bind="click:startCloud") Start a cloud

    template.cloud
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01
        div(data-bind="text:size")
      .pane__actions
        .buttons.buttons--unit
          .button.button--danger(data-bind="click:stopCloud") Stop this cloud

    template.models
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.model
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01
        div(data-bind="text: cloud")
        div(data-bind="text: frame")
        div(data-bind="text: responseColumn")
      .pane__actions
        .buttons.buttons--unit
          .button.button--primary(data-bind="click:deployModel") Deploy this model...
        .buttons.buttons--unit
          .button.button--danger(data-bind="click:deleteModel") Delete model

    template.services
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.service
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01
        div(data-bind="text: endpoint")
      .pane__actions
        .buttons.buttons--unit
          .button.button--danger(data-bind="click:stopService") Stop this service

    template.assets
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.engines
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .buttons
          .button.button--primary(data-bind="click:addEngine") Add Engine...

    template.engine
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01
        div(data-bind="text: path")
        div(data-bind="text: createdDate")
      .pane__actions
        .buttons.buttons--unit
          .button.button--danger(data-bind="click:deleteEngine") Delete Engine


    script(src='jquery.min.js')
    script(src='async.min.js')
    script(src='underscore-min.js')
    script(src='knockout.js')
    script(src='mousetrap.min.js')
    script(src='faker.min.js')
    script(src='main.js')
