doctype
include mixins.jade
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title Steam
    meta(name='description' content='Fast Scalable Machine Learning for Smarter Applications')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='reset.css' type='text/css')
    // link(rel='stylesheet' href='fonts/roboto-fontface.css' type='text/css')
    // link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200' type='text/css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Inconsolata' type='text/css')
    // link(rel='stylesheet' href='fonts/material-icons.css' type='text/css')
    link(rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' type='text/css')
    link(rel='stylesheet' href='styles.css' type='text/css')
    //-script(src='js/vendor/modernizr-2.7.1.min.js')
  body
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    .main
      .logo S
      .titlebar
        .breadcrumbs
      // ko with:navBar
      .navbar(data-bind="template:{ name:'tmpl-navbar-button', foreach:buttons }")
      // /ko
      .body
        .workspace
          .pane-span(data-bind="style:{ width:span }")
          // ko foreach:panes
          .pane(data-bind="style:{ left:position.leftPx, width:position.widthPx }, template:{ name:$root.templateOf }, autoscroll:true")
          // /ko
      .statusbar
        // ko foreach:breadcrumbs
        .breadcrumb(data-bind="click:execute")
          .breadcrumb__arrow
          .breadcrumb__title(data-bind="text:title")
        // /ko
    .mask
    .dialogs
      .dialog
        .dialog__titlebar
          .dialog__title
          .dialog__exit
        .dialog__body
        .dialog__actions
          .action-button.action-button--primary Primary
          .action-button Cancel
          .action-button.action-button--danger Danger

    //
    // Templates
    //

    template.navbar-button
      .navbar-button(data-bind="css:{ 'navbar-button--selected':isSelected }, click:execute")
        .navbar-button__icon
          i.icon(data-bind="css: icon")
        .navbar-button__title(data-bind="text:title")

    template.folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")

    template.bar-folder
      .folder(data-bind="click:execute")
        .folder__bar(data-bind="style:{ width:span }")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")

    template.cloud-folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")

    template.cloud-node-folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")
        .cloud-node-folder__graphic(data-bind="element:graphic")

    template.model-folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")

    template.service-folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")

    template.cloud-job-folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")
        .job-folder__graphic(data-bind="element:graphic")

    template.cloud-frame-column-folder
      .folder(data-bind="click:execute")
        .folder__title(data-bind="text:title")
        .folder__detail
          span.folder__subhead(data-bind="text:subhead")
          span.folder__slug(data-bind="text:slug")
        .cloud-frame-column-folder__graphic(data-bind="element:graphic")

    template.clouds
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .action-button
          .action-button__title(data-bind="click:startCloud") Start a cloud

    template.cloud
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01
        div(data-bind="text:size")
      .pane__actions
        .action-button
          .action-button__title.action-button__title--danger(data-bind="click:stopCloud") Stop this cloud

    template.models
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .action-button
          .action-button__title.action-button__title--danger(data-bind="click:deleteModels") Delete models...

    template.model
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01
        div(data-bind="text: cloud")
        div(data-bind="text: frame")
        div(data-bind="text: responseColumn")
      .pane__actions
        .action-button
          .action-button__title(data-bind="click:deployModel") Deploy this model...

    template.services
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.service
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01
        div(data-bind="text: endpoint")
      .pane__actions
        .action-button
          .action-button__title(data-bind="click:stopService") Stop this service

    template.cloud-nodes
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.cloud-node
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")


    template.cloud-frames
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .action-button
          .action-button__title(data-bind="click:importFrame") Import Frame...

    template.cloud-frame
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .action-button
          .action-button__title(data-bind="click:buildModel") Build Model...

    template.cloud-frame-summary
      .pane__titlebar(data-bind="text:title")
      .pane__body
        h1 Summary
        .table(data-bind="html:summary")

    template.cloud-frame-columns
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.cloud-frame-column
      .pane__titlebar(data-bind="text:title")
      .pane__body
        h1 Summary
        .table(data-bind="element:summary")
        h1 Characteristics
        .table(data-bind="element:characteristics")
        h1 Distribution
        .table(data-bind="element:distribution")

    template.cloud-models
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .action-button
          .action-button__title(data-bind="click:importSelected") Import these models

    template.cloud-model
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.cloud-jobs
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
    template.cloud-job
      .pane__titlebar(data-bind="text:title")
      .pane__body

    template.projects
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.project
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.project-scoreboard
      .pane__titlebar(data-bind="text:title")
      .pane__body

    template.assets
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.experiments
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
    template.experiment
      .pane__titlebar(data-bind="text:title")
      .pane__body.pane__body--01(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
      .pane__actions
        .action-button
          .action-button__title(data-bind="click:run") Run this experiment

    template.experiment-files
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
    template.experiment-logs
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.scripts
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.script
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
    template.script-files
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
    template.script-logs
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.engines
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.admin
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.groups-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
    template.group-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.group-roles-admin
      .pane__titlebar(data-bind="text:title")

      .pane__body
        .pane__page
          // ko foreach:roles
          p(data-bind="text:$data")
          // /ko

    template.group-perms-admin
      .pane__titlebar(data-bind="text:title")

      .pane__body
        .pane__page
          // ko foreach:perms
          p(data-bind="text:$data")
          // /ko

    template.group-users-admin
      .pane__titlebar(data-bind="text:title")

      .pane__body
        .pane__page
          // ko foreach:users
          p(data-bind="text:$data")
          // /ko

    template.roles-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")
    template.role-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.role-perms-admin
      .pane__titlebar(data-bind="text:title")

      .pane__body
        .pane__page
          // ko foreach:perms
          p(data-bind="text:$data")
          // /ko

    template.role-users-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body
        .pane__page
          // ko foreach:users
          p(data-bind="text:$data")
          // /ko

    template.users-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.user-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body(data-bind="template:{ name:$root.templateOf, foreach:items, afterRender:$root.afterRender }")

    template.user-groups-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body
        .pane__page
          // ko foreach:groups
          p(data-bind="text:$data")
          // /ko

    template.user-roles-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body
        .pane__page
          // ko foreach:roles
          p(data-bind="text:$data")
          // /ko

    template.user-perms-admin
      .pane__titlebar(data-bind="text:title")
      .pane__body
        .pane__page
          // ko foreach:perms
          p(data-bind="text:$data")
          // /ko
    
    template.dummy-report
      .pane__titlebar(data-bind="text:title")
      .pane__body
        .pane__page
          h1(data-bind="text:subhead")
          div(data-bind="element:content")

    template.dummy-file
      .pane__titlebar(data-bind="text:title")
      .pane__body
        .pane__page
          h1(data-bind="text:subhead")
          pre(data-bind="text:content")

    template.dummy-log
      .pane__titlebar(data-bind="text:title")
      .pane__body
        .pane__page
          h1(data-bind="text:subhead")
          pre(data-bind="text:content")


    script(src='jquery.min.js')
    script(src='async.min.js')
    script(src='underscore-min.js')
    script(src='knockout.js')
    script(src='mousetrap.min.js')
    script(src='faker.min.js')
    script(src='main.js')
